# Dependências do node
node_modules/

# Build do React (criado após rodar o comando de build)
build/

# Arquivos de log
*.log

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Ambiente local de configuração do editor de código
.vscode/

# Arquivos do sistema de controle de versões
.git/
